
.map-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.leaflet-map {
  width: 100%;
  max-width: 1200px; /* You can adjust this value based on your preference */
  height: 500px; /* Set the desired height for the map */
  margin: 20px 0; /* Add some margin for spacing */
}

